@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
:root {
    --font-inter: 'Inter', sans-serif;
}

body {
    font-family: var(--font-inter);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.inter-italic {
    font-style: italic;
}

/* RootLayout.module.css */
.bodyStyle {
    margin: 30px;
    padding: 30px;
}

.input-field-width {
    width: 23rem;
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 9999;
}

.spinner-container.dark {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    color: inherit; /* The color of the text will be the same as the parent element */
    text-decoration: none; /* Removes the underline */
}

.no-padding .p-card-body {
    padding: 0 !important;
}

.w-45rem {
    width: 45rem;
}

.scrollable-pane {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.relativeImportant{
    position: relative !important;
}

.sidebar-width{
    width: 300px;
}

.black{
    color: rgba(0, 0, 0, 0.8) !important;
}

.p-card-body {
    padding: 0 1.25rem;
}

@media (min-width: 1921px) {
    .xl\:max-w-110rem {
        max-width: 110rem;
    }
    .xl\:center-horizontally {
        align-content: center;
        justify-content: center;
    }
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.grid{
    margin-top:0;
    margin-bottom:0;
    margin-left: 0;
    margin-right: 0;
}

.p-dropdown-items{
    padding:0;
}

.p-dropdown-panel{
    margin-top:0.5em;
}